body {
  font-family: Georgia;
}

/*Header*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo span {
  color: aquamarine;
  margin-left: 20px;
  font-size: 14px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-left: 12px;
}

a {
  color: black;
}

.content {
  display: flex;
  max-width: 1232px;
  margin: 0 auto 76px auto;
  padding-top: 110px;
  justify-content: space-between;
  z-index: 1;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  color: red;
  text-align: center;
}

.lead-story .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  margin-top: 0;
  text-align: left;
  font-size: 40px;
}
.lead-story .image-content span {
  margin-left: 1px;
}

.stories .text-content {
  margin-left: 1px;
  text-align: left;
}

.fall-canceled {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.pop-culture {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}
