/*Header*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo h1 {
  color: aquamarine;
  margin-left: 20px;
  font-size: 14px;
}

a {
  color: black;
}

/*Content*/
.content {
  display: flex;


}
.column {
  display: flex;
  flex-direction: column;

}

.column-large {
  width: 630px;
}

.column-medium {
  width: 300px;
}

.column-small {
  width: 240px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .text-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
